@import './fonts/fontface.css';


[class*=" icon-"],[class^=icon-] {
    font-family: icomoon!important;
    speak: never;
    font-style: normal;
    font-weight: 400;
    font-feature-settings: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.icon-plane-slope:before {
    content: ""
}

.icon-column:before {
    content: ""
}

.icon-sort:before {
    content: ""
}

.icon-credit-card:before {
    content: ""
}

.icon-draggable:before {
    content: ""
}

.icon-kebab:before {
    content: ""
}

.icon-layer:before {
    content: ""
}

.icon-layers:before {
    content: ""
}

.icon-select:before {
    content: ""
}

.icon-bookmark:before {
    content: ""
}

.icon-graduation-hat:before {
    content: ""
}

.icon-video:before {
    content: ""
}

.icon-bin:before {
    content: ""
}

.icon-archive:before {
    content: ""
}

.icon-arrow-down-left:before {
    content: ""
}

.icon-arrow-down:before {
    content: ""
}

.icon-arrow-left:before {
    content: ""
}

.icon-arrow-loop:before {
    content: ""
}

.icon-arrow-right:before {
    content: ""
}

.icon-arrow-up-right:before {
    content: ""
}

.icon-arrow-up:before {
    content: ""
}

.icon-at:before {
    content: ""
}

.icon-attachment:before {
    content: ""
}

.icon-bell:before {
    content: ""
}

.icon-block:before {
    content: ""
}

.icon-bluetooth:before {
    content: ""
}

.icon-book:before {
    content: ""
}

.icon-box:before {
    content: ""
}

.icon-camera:before {
    content: ""
}

.icon-caret-down:before {
    content: ""
}

.icon-caret-left:before {
    content: ""
}

.icon-caret-right:before {
    content: ""
}

.icon-caret-up:before {
    content: ""
}

.icon-cash-in:before {
    content: ""
}

.icon-cash-out:before {
    content: ""
}

.icon-chart-line:before {
    content: ""
}

.icon-chart:before {
    content: ""
}

.icon-check:before {
    content: ""
}

.icon-circle-add:before {
    content: ""
}

.icon-clipboard:before {
    content: ""
}

.icon-clock:before {
    content: ""
}

.icon-close:before {
    content: ""
}

.icon-cloud:before {
    content: ""
}

.icon-cog:before {
    content: ""
}

.icon-connect:before {
    content: ""
}

.icon-connected:before {
    content: ""
}

.icon-copy:before {
    content: ""
}

.icon-database:before {
    content: ""
}

.icon-delete:before {
    content: ""
}

.icon-disconnect:before {
    content: ""
}

.icon-dislike:before {
    content: ""
}

.icon-document-check:before {
    content: ""
}

.icon-document-feed:before {
    content: ""
}

.icon-document-privacy:before {
    content: ""
}

.icon-document:before {
    content: ""
}

.icon-download:before {
    content: ""
}

.icon-edit:before {
    content: ""
}

.icon-email:before {
    content: ""
}

.icon-eye-close:before {
    content: ""
}

.icon-eye-open:before {
    content: ""
}

.icon-facebook:before {
    content: ""
}

.icon-filter:before {
    content: ""
}

.icon-flag:before {
    content: ""
}

.icon-forward:before {
    content: ""
}

.icon-github:before {
    content: ""
}

.icon-grid:before {
    content: ""
}

.icon-hash:before {
    content: ""
}

.icon-headphone:before {
    content: ""
}

.icon-heart:before {
    content: ""
}

.icon-home:before {
    content: ""
}

.icon-id-card:before {
    content: ""
}

.icon-image:before {
    content: ""
}

.icon-in:before {
    content: ""
}

.icon-info-circle:before {
    content: ""
}

.icon-instagram:before {
    content: ""
}

.icon-lamp:before {
    content: ""
}

.icon-lightning-off:before {
    content: ""
}

.icon-lightning-on:before {
    content: ""
}

.icon-like:before {
    content: ""
}

.icon-linkedin:before {
    content: ""
}

.icon-lock:before {
    content: ""
}

.icon-menu:before {
    content: ""
}

.icon-message:before {
    content: ""
}

.icon-mic-off:before {
    content: ""
}

.icon-mic:before {
    content: ""
}

.icon-money:before {
    content: ""
}

.icon-moon:before {
    content: ""
}

.icon-move:before {
    content: ""
}

.icon-note:before {
    content: ""
}

.icon-option:before {
    content: ""
}

.icon-out:before {
    content: ""
}

.icon-palette:before {
    content: ""
}

.icon-paper-plane:before {
    content: ""
}

.icon-paper:before {
    content: ""
}

.icon-path-arrow-left:before {
    content: ""
}

.icon-path-arrow-right:before {
    content: ""
}

.icon-path-caret-left:before {
    content: ""
}

.icon-path-caret-right:before {
    content: ""
}

.icon-pause:before {
    content: ""
}

.icon-phone:before {
    content: ""
}

.icon-play:before {
    content: ""
}

.icon-plus:before {
    content: ""
}

.icon-price-tag:before {
    content: ""
}

.icon-refresh:before {
    content: ""
}

.icon-rewind:before {
    content: ""
}

.icon-save:before {
    content: ""
}

.icon-scan:before {
    content: ""
}

.icon-search:before {
    content: ""
}

.icon-server:before {
    content: ""
}

.icon-share:before {
    content: ""
}

.icon-shield-check:before {
    content: ""
}

.icon-shield:before {
    content: ""
}

.icon-skip-back:before {
    content: ""
}

.icon-skip-forward:before {
    content: ""
}

.icon-slack:before {
    content: ""
}

.icon-stack:before {
    content: ""
}

.icon-star:before {
    content: ""
}

.icon-stop-circle:before {
    content: ""
}

.icon-stop:before {
    content: ""
}

.icon-store:before {
    content: ""
}

.icon-tile:before {
    content: ""
}

.icon-twitter:before {
    content: ""
}

.icon-upload:before {
    content: ""
}

.icon-user-circle:before {
    content: ""
}

.icon-user:before {
    content: ""
}

.icon-users:before {
    content: ""
}

.icon-volume-full:before {
    content: ""
}

.icon-volume-half:before {
    content: ""
}

.icon-volume-off:before {
    content: ""
}

.icon-volume:before {
    content: ""
}

.icon-wallet:before {
    content: ""
}

.icon-warning-circle:before {
    content: ""
}

.icon-warning-triangle:before {
    content: ""
}

.icon-wavy-check:before {
    content: ""
}

.icon-wavy-circle:before {
    content: ""
}

.icon-wifi:before {
    content: ""
}

.icon-youtube:before {
    content: ""
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    overflow-x: hidden;
    font-family: Quicksand,Helvetica Neue,Helvetica,Arial,sans-serif
}

body a {
    color: #222;
    cursor: pointer;
    text-decoration: none
}

body p {
    margin: 0 0 20px
}

body h1 {
    font-size: 45px;
    margin: 0 0 35px
}

body h2 {
    font-size: 35px;
    margin: 0 0 25px
}

body h3 {
    font-size: 25px;
    margin: 0 0 15px
}

.error {
    color: red;
    border-radius: 5px;
    background: #ffdada;
    border: 1px solid #efb1b1
}

.error,.success {
    font-size: 14px;
    padding: 7px 10px;
    text-align: center
}

.success {
    color: #006400;
    border-radius: 5px;
    background: #99d893;
    border: 1px solid #4ba34b
}

.popup {
    z-index: 999;
    right: 30px;
    bottom: 30px;
    margin: auto;
    font-weight: 500;
    text-align: center;
    position: absolute;
    border-radius: 5px;
    animation-duration: .4s;
    animation-name: slidein
}

.spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    animation: rotate 2s linear infinite
}

.spinner i {
    font-weight: 700;
    margin: 0!important
}

.spinner .path {
    stroke: #93bfec;
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite
}

@keyframes rotate {
    to {
        transform: rotate(1turn)
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1,150;
        stroke-dashoffset: 0
    }

    50% {
        stroke-dasharray: 90,150;
        stroke-dashoffset: -35
    }

    to {
        stroke-dasharray: 90,150;
        stroke-dashoffset: -124
    }
}

@keyframes slidein {
    0% {
        margin-right: -100px
    }

    to {
        margin-right: 30px
    }
}

#error {
    text-align: center;
    padding: 180px 0!important
}

#error .error-404 {
    width: 570px;
    margin: 0 auto
}

#error .error-404 p {
    font-size: 20px;
    line-height: 35px
}

#error .error-404 h1 {
    line-height: 90px;
    font-size: 120px;
    margin-bottom: 20px
}

.flex,.inline {
    display: flex
}

.inline {
    justify-content: space-between
}

.inline>* {
    margin-right: 20px
}

.inline>:last-child {
    margin-right: 0
}

.inner {
    width: 1100px;
    margin: 0 auto
}

[class^=button-] {
    font-size: 16px;
    cursor: pointer;
    font-weight: 700;
    padding: 10px 20px;
    align-items: center;
    border-radius: 100px;
    display: inline-flex;
    justify-content: center
}

[class^=button-] i {
    margin-right: 7px
}

.button-1 {
    color: #fff;
    background: #8c4bff;
    border: 1px solid #8c4bff
}

.button-2 {
    color: #444;
    background: #fff;
    border: 1px solid #aaa
}

#root #header {
    top: 0;
    width: 100%;
    z-index: 9999;
    padding: 25px 0;
    position: fixed;
    background: #fff;
    border-bottom: 1px solid #f2f2f2
}

#root #header .inner {
    display: flex;
    justify-content: space-between
}

#root #header .inner #brand {
    width: 130px
}

#root #header .inner #brand img {
    width: 100%;
    height: auto
}

#root #header .inner #menu {
    display: table
}

#root #header .inner #menu a {
    padding: 0 20px;
    display: table-cell;
    vertical-align: middle
}

#root #header .inner #links {
    display: table
}

#root #header .inner #links a {
    color: #666;
    font-size: 20px;
    padding: 0 10px;
    display: table-cell;
    vertical-align: middle
}

#root #content {
    margin-top: 90px
}

#root #content .inner {
    width: 800px;
    padding: 60px 0
}

#root #content .inner article {
    color: #555;
    font-size: 20px;
    line-height: 35px
}

#root #content .inner article p {
    margin: 0
}

#root #content .inner article a {
    text-decoration: underline
}

#root #footer {
    padding: 20px;
    border-top: 1px solid #f2f2f2
}




#home {
    text-align: center
}

#home p {
    font-size: 18px
}

#home h1 {
    font-size: 85px;
    line-height: 75px;
    letter-spacing: 8px;
    font-feature-settings: "pcap","c2pc";
    font-variant-caps: all-petite-caps
}

#home .inner {
    width: 1100px!important;
    padding: 0!important
}

#home .row-1 {
    padding: 120px 0;
    background-color: #f9f9f9;
    border-bottom: 1px solid #f2f2f2
}

#home .row-2 {
    padding: 80px 0 100px
}

#home .row-2 .grid {
    display: flex;
    justify-content: space-between
}

#home .row-2 .grid a {
    width: 25%;
    margin-right: 30px
}

#home .row-2 .grid a strong {
    display: block;
    font-size: 18px;
    margin-bottom: 20px
}

#home .row-2 .grid a:last-child {
    margin-right: 0
}

#home .row-2 .grid .text {
    display: block;
    line-height: 25px;
    margin-bottom: 30px
}

#home .row-2 .grid .arrow {
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 100px;
    border: 1px solid #999
}

#home .row-2 .grid .arrow i {
    color: #999;
    font-size: 14px
}
